
<html lang="en">
  <head>
    <title>Verify Your Account</title>
  </head>
  <body>
    <h3>
      Verify Your Account
    </h3>
    <p>Hi <b>{{name}}</b>, thanks for registering an account with us.</p>
    <p>Please verify your account by clicking the link<b><a
          href="{{link}}"
        >verify your account</a>
      </b></p>

    <p>Please note that this link will valid for 15 minutes only.</p>
  </body>
</html>